enableImpactAnalysis=true
fileSystemScan=False 
resolveAllDependencies=false
nuget.runPreStep=true
nuget.resolveDependencies=true
nuget.resolveCsProjFiles=true
nuget.resolveNuspecFiles=true
nuget.csProj.resolveProjectReference=true
nuget.resolveAssetsFiles=true
nuget.resolvePackagesConfigFiles=true
apiKey=????????????????????????????????????????????????????????????????
userKey=????????????????????????????????????????????????????????????????
wss.url=https://saas.mend.io/agent